<body>
<center><p float="center">
  <img src="https://mma.prnewswire.com/media/1458111/Great_Learning_Logo.jpg?p=facebook" width="200" height="100"/>
</p></center>
<H1 align='center'><font color='blue'><font size="8">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp GETTING STARTED WITH PYTHON</font></H1>
<H1 align='center'><font color='blue'><font size="5">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPREPARATORY SESSION </font></H2>
</body>

<center><img src="https://wallpapercave.com/wp/wp3105542.jpg" width="1000" height="600"></center>

<H1 align='left'><font color='blue'><font size="">Session Agenda</font></H1>

<font size='4'>
<li> Printing Statements<br>
<li> Introduction to variables<br>

<li> Data Types: String, Integers and Float<br>
<li> Data Structures: List, Tuples and Dictionary<br>

<li>Introduction to conditional statements: if,else<br>
<li>Introduction to Loops: for loop<br>

<H1 align='left'><font color='Blue'><font size="">Introduction</font></H1>

![](https://drive.google.com/uc?export=view&id=1S-AgaBCMAi_3_Uv0JdP8PjtPTOZQ7U-M)

<!-- <img src= "https://image.shutterstock.com/image-photo/automobile-assembly-line-production-260nw-733812256.jpg" width="1000" height="500"> -->

<!-- <center><img src='https://drive.google.com/uc?export=view&id=1S-AgaBCMAi_3_Uv0JdP8PjtPTOZQ7U-M'></center> -->

<!-- <p align="right">
  <img width="800" height="400" src="https://drive.google.com/uc?export=view&id=1S-AgaBCMAi_3_Uv0JdP8PjtPTOZQ7U-M" alt="Material Bread logo">
</p> -->

<font size="4">Automobiles are moving towards global production networks. With variability in automobile models, there is a lot of uncertainty in the demand. It requires better visibility towards car performance for investments as well as operation and to avoid the risk of inventory stock-outs.<br>
<br>
Cars Sons Ltd. is an automobile company incorportated on February, 1996. The company  offers a full range of cars from entry-level to stylish Hatchback along with Sedans, SUVs and MUVs. The company is engaged in the business of manufacturing, purchase and sale of motor vehicles and spare parts (automobiles).<br>
<br>
The company has booked a turnover of around $12.5mn last year. The company is looking forward to expanding its range of products and services and will introduce new types of the automobile in the market.<br>
<br>
You have been hired as a Data Scientist in Cars Sons Ltd. The data for the company products have been provided and are required to create structured data which includes the various attributes of the product along with the sales figures.
</font>

# <font color='Blue'>Print Statements

<font color='blue'>*To start with, let's print some details of the company*

In [1]:
print('The name of the company is Cars Sons Ltd.')

The name of the company is Cars Sons Ltd.

**The print() function prints the specified message to the screen or other standard output device.**

In [2]:
print('The year the company was established is',1996)

The year the company was established is 1996

In [3]:
print('Total turnover of the company this year in Million $ is',12.5)

Total turnover of the company this year in Million $ is 12.5

### <font color='Blue'> *Your turn to code!* </font>

In [9]:
# Print your details such as name, years of experience, etc. in the same way as shown above
name="Swathi"
yearsOfExp=12
print("My name is", name,". \nI have", yearsOfExp," years of experience.")

My name is Swathi .
I have 12  years of experience.

 **Since these values are not stored, they cannot be used in future. Therefore, we need to store them in some objects, which are known as *variables*.**

# <font color='Blue'>Variables

<font color='blue'>*Let's create a variable and store the name of the company in it.*

In [11]:
company_name = "Cars Sons Ltd." #variable is assigned and a value is stored in the variable
print('The name of the company is',company_name) #to print a statement to the screen, print command is used

The name of the company is Cars Sons Ltd.

**Variables are containers for storing any data values. A variable is created the moment you first assign a value to it.**
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _)
* Variable names are case-sensitive (age, Age and AGE are three different variables)

<font color='blue'>*Similarly we can store the year the company established in another variable*

In [12]:
year_started = 1996
print('The year the company established is',year_started)

The year the company established is 1996

### <font color='Blue'> *Your turn to code!* </font>

In [31]:
# Create a variable to store the Total turnover of the company for this year and print the results
print("I am testing how to 'quote' inside a quote")

I am testing how to 'quote' inside a quote

# <font color='Blue'> Datatypes

In [13]:
# we can also check the type of variables using type() function
print('The type of variables in company name is',type(company_name))
print(type(name))

The type of variables in company name is <class 'str'>
<class 'str'>

**Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. It can be an integer variable, a string variable, etc.**

**Any character which is placed between quotation marks is known as a *String*. Quotation marks can be single or double-quotes.**<br>
For example in the above command characters 'The name of the company' is under quotation marks and will be considered as *String*. The value 'Cars Sons Ltd.' stored in the variable named company_name is also a *String* because it is written within quotation marks

**Integer - Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.**<br>
**Float - float, or "floating-point number" is a number, positive or negative, containing one
or more decimals. Float can also be scientific numbers with an "e" to indicate the power
of 10.**

In the above cells, we have printed different values of different data types.

There are various data types in Python, such as:<br>
1. Numeric - This is further divided into:

    (a) Integer (int) - 1996    
    (b) Float (float) - 12.5
    

2. String (str) - 'Cars Sons Ltd'</font>

In [14]:
print('The type of variables in year started is',type(year_started))

The type of variables in year started is <class 'int'>

### <font color='Blue'> *Your turn to code!* </font>

In [15]:
# Check the data type of the variable you created above for the Total Turnover of the company

# <font color='Blue'> Basic Operators

<font color='blue'>*Sales team has provided you with the details of the cars including the prices of each type of car.They have received an order of 10 Sedan cars and they need to evaluate total sales for this order.<br>To perform this, we can use Basic Arithmetic operators in Python*

**Python allows you to perform various operation on variables and values. You can also manipulate the values present in the variables**

In [16]:
# Suppose the price of one sedan car is $0.2mn
price_sedan = 0.2 # variable to store the price of one Sedan car
print('Price of 1 Sedan Cars in Million $ is',price_sedan)
price_updated = price_sedan + price_sedan #By using Addition operator we have calculated the price of 2 sedan cars
print('Price of 2 Sedan Cars in Million $ is',price_updated)

Price of 1 Sedan Cars in Million $ is 0.2
Price of 2 Sedan Cars in Million $ is 0.4

**Python provides various operators for performing different types of caluclation on variables and values.<br> Below are some of the operators which are commonly used in python operations:**

|Operator|Symbol in Python|Description|
|---|---|---|
|Addition| +|Adds values on either side of the operator|
|Subtraction|-|Subtracts right hand operand from left hand operand|
| Multiplication| *|Multiplies values on either side of the operator
| Division| /|Divides left hand operand by right hand operand
|Exponent|**|Performs exponential (power) calculation on operators
|Modulus|%|Divides left hand operand by right hand operand and returns remainder

**Let's get our hands dirty on some operators...**

In [17]:
price_final = price_sedan * 10 #By using Multiplication operator we have calculated the sales for the final order of 10 cars
print('Price of 10 Sedan Cars in Million $ is',price_final)

Price of 10 Sedan Cars in Million $ is 2.0

**Let's try to combine multiple operators...**

<font color='blue'>*One of the most critical indicators automotive businesses need to be aware of is downtime. You have been provided with some details from the production department about the downtime hours for last month. To prepare a report you need to include the Average Downtime for the last month.*

*Average Downtime = (downtime hours in a time period) รท (total time available to produce vehicles in the same time period) x 100*

In [19]:
downtime_hours = 30 #downtime hours in a time period
total_time = 240 #total time available to produce vehicles in the same time period
average_downtime = (downtime_hours / total_time) * 100
print('The Average Downtime Hours for last month is', average_downtime)

The Average Downtime Hours for last month is 12.5

### <font color='Blue'> *Your turn to code!* </font>

<font color='blue'>*The safety of the workers in any business is always an issue of utmost importance, but in the automotive industry, safety incidents are a common issue that must continually be measured carefully to move toward a safer workplace.<br>Therefore, the Safety officer has provided you with the data related to the safety incidents and you need to calculate the Safety Incidents per employee for the last month*

*Safety incidents per employee = (number of safety incidents in a time period) รท (number of employees working during the time period)*

In [23]:
#Calculate safety incidents per employee
safety_incidents = 44 #number of safety incidents in a time period
total_employees = 1568 #number of employees working during the time period
safety_per_employee= round(safety_incidents / total_employees, 4)
print(safety_per_employee)
type(safety_per_employee)

0.0281

float

# <font color='Blue'> Data Structures

<font color='blue'>*The Marketing team has given you the type of products the company is manufacturing. To keep things in order, let's store all the data in a variable.<br> Since we already know how to store values in a variable, let's start by storing the type of cars manufactured.*

In [24]:
car_type_1 = 'Sedan'
car_type_2 = 'Hatchback'
car_type_3 = 'SUV'
car_type_4 = 'MUV'

<font color='blue'>*But storing each value in a different variable will be a very lengthy process in case the data is huge. Therefore, we need a way to store multiple values in a single variable.*

<font color='blue'>For this, **list** data structure can be used.

## <font color='Blue'>List

In [25]:
cars_type = ["Sedan", "Hatchback", "SUV", "MUV"]
print('Cars:',cars_type)

Cars: ['Sedan', 'Hatchback', 'SUV', 'MUV']

**A list in Python is an ordered group of items or elements, and these list elements don't have
to be of the same type. Python Lists are mutable objects that can change their values.<br>
<br>A list contains items separated by commas and enclosed within square brackets.
List indices, like strings, start at 0 at the beginning of the list and work their way from -1 at the end.**

<font color='blue'>*All types of cars are now being stored in a single variable. Similarly, we can do the same process for other attributes as well.*

In [26]:
mileage = [15, 19, 12, 10]
print('Mileage:',mileage)

Mileage: [15, 19, 12, 10]

### <font color='Blue'> *Your turn to code!* </font>

In [86]:
# Create a list that contains the values for sales that happened to date. The values are 200, 652, 412, 123 for "Sedan", "Hatchback", "SUV", "MUV" respectively
# print those values as well
sales = [200, 652, 412, 123]
print("Sale:", sales)
type(sales)

Sale: [200, 652, 412, 123]

list


**You can also do modifications and access the elements in the list as lists are mutable.**

<font color='blue'>*Due to the less demand for MUV cars in the market, the company has decided to stop the production of these types of cars and instead introduce a new type in the market. <br>As per the reports received from the Marketing team, the data shows that demand for Hybrid cars is high among a significant amount of population and hence, company has decided to launch its new Hybrid car in the market this month.*

In [29]:
cars_type.remove("MUV") # remove() method removes the first matching element from the list, value 'MUV' is removed from the variables cars_type

print('Cars:',cars_type)

Cars: ['Sedan', 'Hatchback', 'SUV']

In [30]:
cars_type.append("Hybrid_car") # append() method in python adds a single item to the existing list, it adds the new type Hybrid_car to the list variable cars_type

print('Cars:',cars_type)

Cars: ['Sedan', 'Hatchback', 'SUV', 'Hybrid_car']

**The list index starts with 0 in Python. So, the index value of the 1st element is 0, similarly, for the 2nd and 3rd element, it is 1 and 2 respectively. And so on...**

<img align='right' src=https://files.realpython.com/media/t.c11ea56e8ca2.png width="1000" height="400" />

<font color='blue'>*You still have the data associated with the MUV type of cars and new data for the Hybrid car. So instead of deleting the previous data and adding the new data, you can also replace it with new data from Hybrid car. Therefore instead of using the remove and append function, you can also modify the elements by accessing the index values.*

In [33]:
mileage[3] = 9 # modifying the mileage data [replacing 3rd index position i.e. 10 with a new value 9]
print('Mileage:',mileage)

Mileage: [15, 19, 12, 9]

<font color='blue'>*Instead of getting a single element, you can also get a section of list by slicing the list*

In [34]:
cars_type[0:2] # will return the first two elements of cars_type which are indexed as 0 and 1.
              #NOTE- [a:b], this will take elements from 'a' to 'b-1'

['Sedan', 'Hatchback']

### <font color='Blue'> *Your turn to code!* </font>

In [99]:
# Remove the last element from the variable you created for sales to date using negative indexing
sales = [200, 652, 412, 123]
sales.remove(sales[-1])
#Randomly remove an element with pop
sales.pop()
sales

[200, 652]

In [43]:
# print the last two elements of the 'mileage' variable
sales[-3:-1]

[652, 412]

<font color='blue'>*An investor has decided to visit the company and has asked you about the car types and sales to date.*

In [44]:
# To get the number of cars produced in company, you find the length of list 'cars'
print('The total number of car types manufactured are',len(cars_type))

The total number of car types manufactured are 4

### <font color='Blue'> *Your turn to code!* </font>

In [45]:
# Calculate the total sales that happened to date using the variable you created above.
#HINT: you can use the built-in function 'sum' to calculate the total sales
print("Total Sales: ", sum(sales))

Total Sales:  1387

## <font color='Blue'> Tuple

<font color='blue'>*After receiving the new report, you decide to store some fixed values which are not going to be changed like number of seats in a car, etc.<br>
Since this data need not be changed in future, you decide to use a tuple data structure. Reason: They are immutable.*

In [46]:
# car sitting
sitting = (5, 4, 6, 8) # ['Sedan', 'Hatchback', 'SUV', 'Hybrid_car']
print('The number of seats for each type of car are',sitting)

The number of seats for each type of car are (5, 4, 6, 8)

**A tuple is a collection that is ordered and unchangeable. In Python, tuples are written with parentheses. Python Tuples are immutable objects that cannot be changed once they have been created.<br>
<br>A tuple contains items separated by commas and enclosed in parentheses instead of square brackets. You can update an existing tuple by (re)assigning a variable to another tuple.<br>
<br>The rules for tuple indices are the same as for lists and they have similar operations and functions as well.**

### <font color='Blue'> *Your turn to code!* </font>

In [50]:
# consider the Engine Size in cc for each car type is 2200, 1800, 2500, 3000.
# create a variable and store these values in Tuple Data Structure and print the results
engineSize_cc = (2200, 1800, 2500, 3000)
type(engineSize_cc)

tuple

## <font color='Blue'> Dictionary

<font color='blue'>*So the above data we have stored in a List or Tuple for each type of car is not linked directly with the type of car. To link data with each other Dictionaries are used.<br>Let's create a dictionary to store the sales figures of last month based on car types in a key: value format*

In [51]:
sales_last_month = {'Sedan': 2, 'Hatchback':3, 'SUV':1.5, 'Hybrid_car':0} # in crores
print('Sales last month:',sales_last_month)

Sales last month: {'Sedan': 2, 'Hatchback': 3, 'SUV': 1.5, 'Hybrid_car': 0}

**A dictionary is a collection that is unordered, mutable, and indexed. They have keys and values.**<br>
* Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces<br>
* Keys are unique within a dictionary while values may not be
* The values of a dictionary can be of any type

In [53]:
# getting the keys
print(sales_last_month.keys()) # gives the list of keys in dictionary

print(sales_last_month.values()) # gives the list of values in dictionary

dict_keys(['Sedan', 'Hatchback', 'SUV', 'Hybrid_car'])
dict_values([2, 3, 1.5, 0])

**Like Lists, you can also do the modification in Dictionaries as well, for example Slicing, Updating and Adding new values**

<font color='blue'>*Just now you received a notification that the first model of Hybrid car has been sold last month.<br>
So you decide to change it in your dictionary data accordingly*

In [54]:
initial = sales_last_month["Hybrid_car"]
print(initial)

0

In [55]:
sales_last_month["Hybrid_car"] = 0.25
print('Sales last month:',sales_last_month)

Sales last month: {'Sedan': 2, 'Hatchback': 3, 'SUV': 1.5, 'Hybrid_car': 0.25}

**You can also check the type of data structures as we did while going through int, str and float**

In [56]:
print('The type of data structure for variable cars is',type(cars_type))
print('The type of data structure for variable sales last month is',type(sales_last_month))

The type of data structure for variable cars is <class 'list'>
The type of data structure for variable sales last month is <class 'dict'>

### <font color='Blue'> *Your turn to code!* </font>

In [60]:
# Check the data structure type for variable 'sitting'
print(type(sitting))

<class 'tuple'>

1

# <font color='Blue'>Comparison Operators

**Comparison operators are used for comparing the values. It either returns True or False according to the condition.**

<font color='blue'>*To prepare monthly report, Marketing team has requested to know if sales of Sedans are higher than Hybrid car so that they can decide which type of car to promote more and optimize their marketing costs accordingly.<br>Let's compare the sales from last month for different car types.*

In [61]:
sales_last_month['Sedan'] > sales_last_month['Hybrid_car']

True

<font color='blue'>*This shows that sales of Sedans are higher than sales of Hybrid car for last month.*

**If the condition applied is valid, then it will result as *'True'* output, otherwise will return *'False'* as an output.<br>Below are some common operators used in Python:**

|Operator|Symbol in Python|Description|
|---|---|---|
|Equals| ==|If the values of two operands are equal, then the condition becomes true.|
|Not Equal to|!=|If values of two operands are not equal, then condition becomes true.
| Greater than| >|If the value of left operand is greater than the value of right operand, then condition becomes true.
| Less than| <|If the value of left operand is less than the value of right operand, then condition becomes true.
|Greater than or Equal to|>=|If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.
|Less than or Equal to|<=|If the value of left operand is less than or equal to the value of right operand, then condition becomes true.

### <font color='Blue'> *Your turn to code!* </font>

In [62]:
# Similarly check whether the sales for car type 'Hatchback' is more than 'SUV' or not
sales_last_month["Hatchback"] > sales_last_month["SUV"]

True

# <font color='Blue'>Conditional Statements

**Conditional Statement in Python perform different actions depending on whether a specific condition evaluates to true or false.<br>if-else are the conditional statements**

<font color='blue'>*You have been given the data of car ratings from the customers. Based on this you need to write a program that gives car performance on inputting the car name.*

In [63]:
# stored the ratings of each car in a dictionary
cars_ratings= {
    'Sedan_1': 64,
    'Sedan_2': 49,
    'Hatchback_1': 59,
    'Hatchback_2': 78,
    'SUV_1': 32,
    'SUV_2': 84,
    'MUV_1': 21,
    'MUV_2': 31
}
print('Ratings of each car:', cars_ratings)

Ratings of each car: {'Sedan_1': 64, 'Sedan_2': 49, 'Hatchback_1': 59, 'Hatchback_2': 78, 'SUV_1': 32, 'SUV_2': 84, 'MUV_1': 21, 'MUV_2': 31}

## <font color='Blue'>**User Inputs**

In [69]:
# Python program showing how to
# multiple input using split
# taking two inputs at a time
x, y = input("Enter two values: ").split(",")
print("Number of boys: ", x)
print("Number of girls: ", y)

Enter two values: 12, 15
Number of boys:  12
Number of girls:   15

In [76]:
car_name1, car_name2 = input("Emter 2 car name to see their ratings: ").split(",")
print(car_name1)
print(car_name2)
print(cars_ratings.get(car_name1))

Emter 2 car name to see their ratings: Sedan_1,Sedan_2
Sedan_1
Sedan_2
64

## <font color='Blue'> if-else

In [77]:
# a car is said to be well-performing if it's rating is greater than 50
# check whether Sedan_1 is a good performer

if(cars_ratings['Sedan_1']<50): # checking if it's lower than 50
  print("Sedan_1 is not performing well")

else:
  print("Sedan_1 performs well")

Sedan_1 performs well

**Python if Statement is used for decision-making operations. It contains a body of code which runs only when the condition given in the if statement is true. If the condition is false, then the optional else statement runs which contains some code for the else condition.**

### <font color='Blue'> *Your turn to code!* </font>

In [105]:
# Create a conditional statement to check the performance for MUV_1 and MUV_2
if(cars_ratings["MUV_1"]>50 & cars_ratings["MUV_2"]>50):
  print("MUV_1 (Rating: ", cars_ratings["MUV_1"], "), MUV_2 (Rating: ", cars_ratings["MUV_2"], ")are performing well")
elif(cars_ratings["MUV_1"]>50):
  print("MUV_1 is performing well")
elif(cars_ratings["MUV_2"]>50):
  print("MUV_2 is performing well")
else:
  print("Both MUV_1 and MUV_2 are not performing well")
  print("MUV_1 (Rating: ", cars_ratings["MUV_1"], "), MUV_2 (Rating: ", cars_ratings["MUV_2"], ")")

Both MUV_1 and MUV_2 are not performing well
MUV_1 (Rating:  21 ), MUV_2 (Rating:  31 )

# <font color='Blue'>Loops

## <font color='Blue'> "for" Loop

<font color='blue'>*Now in case we need to check for each type of car, we need to write the above code which will become very lengthy in case we have a huge amount of data. Hence, a loop can be used in that situation.*

In [109]:
car_names= cars_ratings.keys() # this gives a list, remember?

# print all car names
for car in car_names:
  print(car)


car_rating_scores=cars_ratings.values()
for car_rating in car_rating_scores:
  print(car_rating)

Sedan_1
Sedan_2
Hatchback_1
Hatchback_2
SUV_1
SUV_2
MUV_1
MUV_2
64
49
59
78
32
84
21
31
Sedan_1 is performing well.
Hatchback_1 is performing well.
Hatchback_2 is performing well.
SUV_2 is performing well.

**The *for* loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.
<br><br>Loop continues until we reach the last item in the sequence. The body of for loop is separated
from the rest of the code using indentation.**

In [ ]:
# Get names of all the cars which are under performing
for car in car_names:
  if cars_ratings[car]<50:
    print(f"{car} is not performing well") # formatinf string f"{}"

Sedan_2 is not performing well
SUV_1 is not performing well
MUV_1 is not performing well
MUV_2 is not performing well

<font color='Blue'>*Now you know the reason why MUV production was closed by the company, both of its models weren't performing well.*

### <font color='Blue'> *Your turn to code!* </font>

In [110]:
# Create a for loop to check the performance of cars having ratings greater than 50
for car in car_names:
  if(cars_ratings[car]>50):
    print(car, "is performing well.")

Sedan_1 is performing well.
Hatchback_1 is performing well.
Hatchback_2 is performing well.
SUV_2 is performing well.

#<font color='Blue'>Summary

<font size='4'>
<li> Understand how to create variables,store data in a variable and check the data types<br>
<li> Performed basic Arithmetic operations and storing data in List, Tuple and Dictionaries<br>
<li> Performed basic comparison of variables by using different operators<br>
<li>Creating conditional statements by passing single conditions as well as multiple conditions.<br>
<li>Understand how to execute a similar condition multiple times by creating loops <br>
</font>

# <font color='blue'>Happy Learning !

---